* {
  margin: 0;
}

.first {
  display: flex;
  flex-wrap: wrap;
  border-style: ridge;
  padding: 5px;
  text-align: center;
}

.first-1 {
  flex: 1;
}

img {
  height: 300px;
  width: 300px;
}

.secondAndThird {
  display: flex;
  flex-wrap: wrap;
}
.second,
.third {
  flex: 1;
  border: steelblue;
  border-style: ridge;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.second {
  flex: 1;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.row1 {
  flex: 1;
  text-align: center;
}
.row2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
img {
  border-radius: 5%;
}

#imageSecond2 {
  flex: 1;
}
#imageSecond3 {
  flex: 1;
}

.third {
  flex: 1;
  text-align: center;
  display: flex;
}
#imageThird1 {
  flex: 1;
  align-self: flex-start;
  text-align: center;
}
#imageThird2 {
  flex: 1;
  align-self: center;
}
#imageThird3 {
  flex: 1;
  align-self: flex-end;
}
