* {
  margin: 0;
}

.first {
  display: flex;
  flex-wrap: wrap;
  border-style: ridge;
  padding: 5px;
  text-align: center;
}

.first-1 {
  flex: 1;
}

img {
  height: 300px;
  width: 300px;
}

.secondAndThird {
  display: flex;
  flex-wrap: wrap;
}
.second {
  flex: 1;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.second {
  flex: 1;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.row1 {
  flex: 1;
  text-align: center;
}
.row2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
img {
  border-radius: 5%;
}

#imageSecond2 {
  flex: 1;
}
#imageSecond3 {
  flex: 1;
}

.third {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.third1and2 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.third3and4 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
#imageThird1 {
  flex: 1;
  align-self: flex-end;
  margin-right: 1px;
}
#imageThird2 {
  flex: 1;
  align-self: flex-end;
  margin-left: 1px;
}
#imageThird3 {
  flex: 1;
  align-self: flex-start;
  margin-right: 1px;
}
#imageThird4 {
  flex: 1;
  align-self: flex-start;
  margin-left: 1px;
}

#img2-1 {
  border-radius: 5% 5% 5% 5%;
}

#img2-2 {
  border-radius: 5% 5% 5% 5%;
}
#img2-3 {
  border-radius: 5% 5% 5% 5%;
}
#img2-4 {
  border-radius: 5% 5% 5% 5%;
}

#img3-1 {
  border-radius: 0% 50% 0% 50%;
}
#img3-2 {
  border-radius: 50% 0% 50% 0%;
}
#img3-3 {
  border-radius: 50% 0% 50% 0%;
}
#img3-4 {
  border-radius: 0% 50% 0% 50%;
}

@media only screen and (max-width: 600px) {
  #img2-1 {
    border-radius: 50% 50% 50% 50%;
  }
  #img2-2 {
    border-radius: 5% 5% 5% 5%;
  }
  #img2-3 {
    border-radius: 50% 50% 50% 50%;
  }
  #img2-4 {
    border-radius: 5% 5% 5% 5%;
  }

  #img3-1 {
    border-radius: 50% 50% 50% 50%;
  }
  #img3-2 {
    border-radius: 5% 5% 5% 5%;
  }
  #img3-3 {
    border-radius: 50% 50% 50% 50%;
  }
  #img3-4 {
    border-radius: 5% 5% 5% 5%;
  }
}
